#content{
    background-color: #dbd9d9;
    height: calc(100vh - 80px);
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-top: 1em;
    padding-left: 1em;
    overflow:auto;
} 
#game-win{
    color: green;
}
#game-loss{
    color: red;
}
#quote{
    margin-right: 20%;
}
#match-history{
    background-color: white;
    border: solid .1em black;
    width: 45%;
    text-align: left;
}