#footer{
    color: rgba(0, 0, 0, 0.55);
}
*{
    font-family: monospace;
    font-size: 1.0em;
    font-weight: 500;
}
#content{
    background-color: #dbd9d9;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
} 
#grid-container{
    display: grid;
    align-items: center;
    margin: 1em;
}
.grid-item{
    width: 25%;
    text-align: center;
    justify-self: center;
}
.grid-item.main-user{
    grid-row-start: 3;
    grid-column-start: 2;
}
.grid-item.player-top{
    grid-row-start: 1;
    grid-column-start: 2;
}
.grid-item.player-left{
    grid-row-start: 2;
    grid-column-start: 1;
}
.grid-item.draw-discard-piles{
    grid-row-start: 2;
    grid-column-start: 2;
}
.grid-item.player-right{
    grid-row-start: 2;
    grid-column-start: 3;
}

