#footer{
    color: rgba(0, 0, 0, 0.55);
}
*{
    font-family: monospace;
    font-size: 1.0em;
    font-weight: 500;
}
#content{
    background-color: #dbd9d9;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
} 
#grid-container{
    display: grid;
    align-items: center;
    margin: 1em;
    overflow: scroll;
}
.grid-item{
    width: min-content;
    text-align: center;
}
.grid-item.main-user{
    grid-row-start: 3;
    grid-column-start: 2;
}
.grid-item.player-top{
    grid-row-start: 1;
    grid-column-start: 2;
}
.grid-item.player-left{
    grid-row-start: 2;
    grid-column-start: 1;
}
.grid-item.draw-discard-piles{
    grid-row-start: 2;
    grid-column-start: 2;
    margin:auto;
}
.grid-item.player-right{ 
    grid-row-start: 2;
    grid-column-start: 3;
}

.player-info{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 10em;
}
.player-icon{
    width: 60px;
    padding: .5em;
}
#player-name{
    font-weight: 700;
    padding-right: .2em;
}
.player-hand    {
    display: flex;
    margin: 10px;
    width: min-content;
}
.player-hand.enemy-hand{
    display: flex;
    flex-direction: column;
    overflow: visible;
}
.playing-card{
    width: 73px;
    height: 101px;
    margin-left:-20px;
    background-size: 100%;
    border-radius: 10px;
}

#card-back{
    margin-top: -70px;
    transform: rotate(90deg) translateY(-50%);
    transform-origin: center center;
    background-image: url(card-images/uno-card-back.png);
}


/*
z-index: 2;
    transform: rotate(90deg) translateY(-50%) translateX(20px);
        z-index: 4;
    transform: rotate(90deg) translateY(-100%) translateX(-20px);
    parent object has position:absolute;
*/