#footer{
    color: rgba(0, 0, 0, 0.55);
}
*{
    font-family: monospace;
    font-size: 1.0em;
    font-weight: 500;
}
#content{
    background-color: #dbd9d9;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top:1em;
} 
#login{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
   
#login >*{
    margin : 0.5em;
}